/*table*/
th{
	font-size: 18px;
}
table{
	background-color: #f7f6f6;
}
.container .Table td{
	vertical-align: middle;
}
.table-nav{
	padding-bottom: 10px;
}
/*priority statuses*/
.priority-hight{
	color:#d9534f;
}
.priority-medium{
	color:#5cb85c;
}
.priority-low{
	color:#777;
}
.table-sort{
	cursor: pointer;
}